@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.eot");
    src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.eot");
    src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Light.eot");
    src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Light.woff") format("woff"),
    url("../fonts/Gilroy-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "NK90";
    src: url("../fonts/nk90.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.eot");
    src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* Header */
.header {
    height: 82px;
    position: relative;
}

.header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 125px;
}

.header__link {
    opacity: .5;
    transition: opacity .3s;
}

.header__link:hover {
    opacity: 1;
}

.header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__burger-wrap {
    cursor: pointer;
    height: 16px;
    display: flex;
    align-items: center;
    opacity: .5;
    transition: opacity .3s;
}

.header__burger-wrap:hover {
    opacity: 1;
}

.header__burger {
    width: 50px;
    height: 2px;
    background: #94C31F;
    position: relative;
    text-transform: uppercase;
}

.header__burger:before {
    top: -7px;
}

.header__burger:before,
.header__burger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #94C31F;
}

.header__burger:after {
    bottom: -7px;
}